<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="all-container-login flex col">
    <header>
      <nav class="flex col">
        <a class="brand-text flex" href="/home">Web Journal</a>
      </nav>
    </header>
    <section class="container center text-center">
      <div class="sometext">
        <h1>Welcome to Web Journal</h1><br>
        <form action="/login" method="POST">
          <div class="flex row center">
            <input type="email" class="form-control" name="username" placeholder="Email">
          </div>
          <div class="flex row center">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="align-buttons">Login</button>
        </form>
      </div>
      <div class="text-register flex center row">
        <p>Don't have an account? <a style="text-decoration: none; color: black" href="/register" role="button">Register</a></p>
      </div>
    </section>
  </div>
  <footer>
    <h3 class="flex center">Paulo Dallastra</h3>
  </footer>
</body>

</html>