<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="all-container flex col">
    <header>
      <nav class="flex">
        <a class="brand-text flex" href="/home">Web Journal</a>
      </nav>
    </header>
    <section class="container center text-center">
      <div class="sometext flex center col">
        <h1>Register</h1>
        <div class="flex center">
        <form action="/register" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
              <input type="email" class="form-control" name="username" placeholder="Email" required>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="align-buttons" style="margin-top: 5rem;">Register</button>
        </form>
      </div>
      </div>
    </section>
  </div>
  <footer>
    <h3 class="flex center">Paulo Dallastra</h3>
  </footer>
</body>

</html>